.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.close-container {
  /* position: relative;
  top: 10px;
  right: 10px; */
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}

.dialog {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.dialog button {
  background: #007bff; /* Blue color for the button */
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style for the close button on hover */
.dialog button:hover {
  background: #0056b3; /* Darker blue on hover */
}

.main-dialog {
  border: 1px solid #0056b3;
  background-color: #fff;
  padding: 6%;
  border-radius: 15px;
  position: relative;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.step {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.step span {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.active {
  background-color: #0056b3;
  color: #fff;
}

.btn-container {
  margin-top: 20px;
  display: flex;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
